.bg-primary { background-color: $primary; }
.bg-info { background-color: $info; }
.bg-danger { background-color: $danger; }
.bg-success { background-color: $success; }
.bg-warning { background-color: $warning; }
.bg-blue { background-color: $blue; }
.bg-green { background-color: $green; }
.bg-yellow { background-color: $yellow; }
.bg-red { background-color: $red; }
.bg-purple { background-color: $purple; }
.bg-black { background-color: $black; }
.bg-navy { background-color: $navy; }
.bg-taupe { background-color: $taupe; }
.bg-grey { background-color: $grey; }
.bg-dark-grayish-blue { background-color: $dark-grayish-blue; }
.bg-light-grayish-blue { background-color: $light-grayish-blue; }
.bg-grey-light { background-color: $grey-light; }
.bg-grey-lighter { background-color: $grey-lighter; }
