$button-border-width: 2px;
$button-font-family: $font-family-base;
$button-font-size: 1rem;
$button-sm-font-size: .875rem;
$button-font-weight: 400;
$button-padding-x: 1.8rem;
$button-padding-y: .55rem;
$button-sm-padding-x: .5rem;
$button-sm-padding-y: .25rem;
$button-lg-padding-x: 2.5rem;
$button-lg-padding-y: .75rem;
$button-xl-padding-x: $button-lg-padding-x;
$button-xl-padding-y: $button-lg-padding-y;
$button-line-height: 1.25;
$button-border-radius: .25rem;
$button-sm-border-radius: .2rem;

.btn {
  display: inline-block;
  border: $button-border-width solid transparent;
  border-radius: $button-border-radius;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  color: $white;
  text-decoration: none;
  line-height: $button-line-height;
  padding: $button-padding-y $button-padding-x;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: transparent;

  &.btn-default { background-color: $default; }
  &.btn-primary { background-color: $primary; }
  &.btn-success { background-color: $success; }
  &.btn-info { background-color: $info; }
  &.btn-warning { background-color: $warning; }
  &.btn-danger { background-color: $danger; }
  &.btn-link {
    color: $primary;
    border-radius: 0;
    background-color: transparent;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus { outline: none; }

  &:disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  &.btn-sm {
    padding: $button-sm-padding-y $button-sm-padding-x;
    font-size: $button-sm-font-size;
    border-radius: $button-sm-border-radius;
  }

  &.btn-lg { padding: $button-lg-padding-y $button-lg-padding-x; }
  &.btn-xl {
    padding: $button-xl-padding-y $button-xl-padding-x;
    font-size: 1.25rem;
  }
  &.btn-block { width: 100%; }
}
