.btn-outline-default {
  color: $default;
  border: $button-border-width solid $default; }

.btn-outline-primary {
  color: $primary;
  border: $button-border-width solid $primary; }

.btn-outline-success {
  color: $success;
  border: $button-border-width solid $success; }

.btn-outline-info {
  color: $info ;
  border: $button-border-width solid $info; }

.btn-outline-warning {
  color: $warning;
  border: $button-border-width solid $warning; }

.btn-outline-danger {
  color: $danger;
  border: $button-border-width solid $danger; }
