.navy { color: $navy; }
.blue { color: $blue; }
.blue-light { color: $blue-light; }
.blue-lighter { color: $blue-lighter; }
.blue-translucid { color: $blue-translucid; }
.green { color: $green; }
.green-translucid { color: $green-translucid; }
.yellow { color: $yellow; }
.red { color: $red; }
.purple { color: $purple; }
.taupe { color: $taupe; }
.dark-grayish-blue { color: $dark-grayish-blue; }
.light-grayish-blue { color: $light-grayish-blue; }
.grey { color: $grey; }
.grey-light { color: $grey-light; }
.grey-lighter { color: $grey-lighter; }
.white { color: $white; }
.black { color: $black; }
