.dropdown {
  position: relative;
  display: inline-block;

  .data-divider {
    display: none;
    position: static;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }

  .data-details {
    display: none;
    position: absolute;
    margin-top: .5rem;
    left: 0;
    min-width: 10rem;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid $border-color;
    white-space: nowrap;
    text-align: left;
    list-style: none;
    background-color: #fff;

    btn, a { display: block; }

    a {
      padding: .5rem 1rem;
      color: inherit;

      &:hover {
        text-decoration: none;
        background-color: $grey-light;
      }
    }
  }

  &.open {
    .data-divider { display: block; }
    .data-details { display: block; }
  }
}
